<?xml version="1.0"?>
<!-- /**
 * Digit Software Solutions..
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category   Dss
 * @package    Dss_Limitcartqty
 * @author     Extension Team
 * @copyright Copyright (c) 2024 Digit Software Solutions. ( https://digitsoftsol.com )
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_save_after">
        <observer name="update-inventory" instance="Dss\Limitcartqty\Observer\UpdateCartObserver"/>
    </event>
    <event name="customer_login">
        <observer name="update-customer-login" instance="Dss\Limitcartqty\Observer\UpdateCustomerGroup"/>
    </event>
    <event name="customer_logout">
        <observer name="update-customer-logout" instance="Dss\Limitcartqty\Observer\UpdateCustomerGroup"/>
    </event>
</config>
